.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
/.vs/Demo.Core.Api
/Demo.Core.Api.WebApi/bin/
/Demo.Core.Api.WebApi/obj/
/Demo.Core.Api.WebApi/Properties
/Demo.Core.Api.Data/bin/
/Demo.Core.Api.Data/obj/
/Demo.Core.Api.Core/bin/
/Demo.Core.Api.Core/obj/
/Demo.Core.Api.Model/bin/
/Demo.Core.Api.Model/obj/
/Demo.Core.Api.Console/bin/
/UnitTest/bin/
/UnitTest/obj/
/Demo.Core.Api.IRepository/bin/Debug/
/Demo.Core.Api.IRepository/bin/Debug/
/Demo.Core.Api.IRepository/obj/
/Demo.Core.Api.IService/bin/Debug/
/Demo.Core.Api.IService/obj/
/Demo.Core.Api.Core/bin/Debug/
/Demo.Core.Api.Core/obj/
/Demo.Core.Api.Core/web
/Demo.Core.Api.Data/bin/Debug/
/Demo.Core.Api.Data/obj/Debug/
/Demo.Core.Api.Data/web
/Demo.Core.Api.Model/bin/Debug/
/Demo.Core.Api.Model/obj/Debug/
/Demo.Core.Api.Repository/bin/Debug/
/Demo.Core.Api.Repository/obj/
/Demo.Core.Api.Service/bin/Debug
/Demo.Core.Api.Service/obj/
/Demo.Core.Api.WebApi/bin/
/Demo.Core.Api.WebApi/obj/Debug/
/Demo.Core.Api.Console/bin/Debug/
/Demo.Core.Api.Console/obj/Debug/
/Demo.Core.Api.Console/web
/UnitTest/bin/Debug/
/UnitTest/obj/Debug/
/UnitTest/web

Demo.Core.Console/bin/
Demo.Core.Console/obj/
/Demo.Core.Api.Core/obj/Debug/netstandard2.0/
/Demo.Core.Api.Data/obj/Debug/netstandard2.0/
/Demo.Core.Api.Model/obj/Debug/netstandard2.0/
/Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/
/Demo.Core.Console/obj/Debug/netcoreapp2.2/

/Demo.Core.Api.Core/obj/Debug/netstandard2.0/Demo.Core.Api.Core.assets.cache
/Demo.Core.Api.Data/obj/Debug/netstandard2.0/Demo.Core.Api.Data.assets.cache
/Demo.Core.Api.Model/obj/Debug/netstandard2.0/Demo.Core.Api.Model.assets.cache
/Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
/Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.assets.cache

/Demo.Core.Api.IService/bin/Release/netcoreapp2.2
/Demo.Core.Api.IRepository/bin/Release/netcoreapp2.2
/Demo.Core.Api.IServices/bin
/Demo.Core.Api.IServices/obj
/Demo.Core.Api.Services/obj
/Demo.Core.Api.WebApi/Log
/PublishFiles
.vs/Demo.Core.Api/DesignTimeBuild/.dtbcache
.vs/Demo.Core.Api/DesignTimeBuild/.dtbcache
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/project.razor.json
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.ConsoleDemo.assets.cache
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Core.dll
.vs/Demo.Core.Api/DesignTimeBuild/.dtbcache
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Core.pdb
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.IRepository.dll
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.IRepository.pdb
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Model.dll
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Model.pdb
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Repository.deps.json
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Repository.dll
Demo.Core.Api.Repository/bin/Release/netcoreapp2.2/Demo.Core.Api.Repository.pdb
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Core.dll
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Core.pdb
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.IRepository.dll
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.IRepository.pdb
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.IServices.dll
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.IServices.pdb
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Model.dll
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Model.pdb
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Model.xml
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Services.deps.json
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Services.dll
Demo.Core.Api.Services/bin/Debug/netcoreapp2.2/Demo.Core.Api.Services.pdb
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Core.dll
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Core.pdb
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.IRepository.dll
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.IRepository.pdb
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.IServices.dll
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.IServices.pdb
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Model.dll
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Model.pdb
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Services.deps.json
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Services.dll
Demo.Core.Api.Services/bin/Release/netcoreapp2.2/Demo.Core.Api.Services.pdb
Demo.Core.Api.WebApi/appsettings.json
Demo.Core.Api.WebApi/Demo.Core.Api.WebApi.csproj.user
Demo.Core.Api.WebApi/Properties/launchSettings.json
Demo.Core.Api.WebApi/Properties/PublishProfiles/FolderProfile.pubxml
Demo.Core.Api.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
Demo.Core.Api.WebApi/obj/project.assets.json
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.csproj.FileListAbsolute.txt
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csproj.CoreCompileInputs.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csproj.FileListAbsolute.txt
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csprojAssemblyReference.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.xml
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Core.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Core.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Data.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Data.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Model.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.Model.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.WebApi.deps.json
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.WebApi.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.WebApi.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/PubTmp/Out/Demo.Core.Api.WebApi.xml
Demo.Core.Console/Properties/PublishProfiles/FolderProfile.pubxml
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/appsettings.json
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.Api.Data.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.Api.Data.pdb
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.ConsoleDemo.deps.json
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.ConsoleDemo.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.ConsoleDemo.pdb
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Demo.Core.ConsoleDemo.runtimeconfig.json
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Authentication.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Authentication.Core.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Connections.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Diagnostics.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.HostFiltering.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Hosting.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Hosting.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Http.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Http.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Http.Extensions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Http.Features.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.HttpOverrides.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Routing.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Routing.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.IIS.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.IISIntegration.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.Kestrel.Core.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.Kestrel.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.Kestrel.Https.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.AspNetCore.WebUtilities.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Caching.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Caching.Redis.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.Binder.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.CommandLine.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.FileExtensions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.Json.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.UserSecrets.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.DependencyInjection.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.FileProviders.Physical.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.FileSystemGlobbing.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Hosting.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.Abstractions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.Configuration.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.Console.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.Debug.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.EventSource.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.ObjectPool.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Options.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Primitives.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Microsoft.Net.Http.Headers.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/Newtonsoft.Json.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/StackExchange.Redis.StrongName.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/System.IO.Pipelines.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/System.Runtime.CompilerServices.Unsafe.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/System.Text.Encodings.Web.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/runtimes/win-x64/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
Demo.Core.Console/bin/Debug/netcoreapp2.2/publish/runtimes/win-x86/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
Demo.Core.Console/obj/Demo.Core.Console.csproj.nuget.cache
Demo.Core.Console/obj/Demo.Core.Console.csproj.nuget.g.props
Demo.Core.Console/obj/Demo.Core.Console.csproj.nuget.g.targets
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.AssemblyInfo.cs
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.AssemblyInfoInputs.cache
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.assets.cache
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.csproj.CoreCompileInputs.cache
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.Console.csproj.FileListAbsolute.txt
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.ConsoleDemo.csproj.FileListAbsolute.txt
Demo.Core.Console/obj/Debug/netcoreapp2.2/project.razor.json
Demo.Core.Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Demo.Core.Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Demo.Core.Console/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.assets.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csproj.CoreCompileInputs.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csproj.FileListAbsolute.txt
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csprojAssemblyReference.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.dll
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.pdb
Demo.Core.Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Demo.Core.Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Demo.Core.Console/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTest/obj/Release/netcoreapp2.2/UnitTest.assets.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.csprojAssemblyReference.cache
.vs/Demo.Core.Api/DesignTimeBuild/.dtbcache
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.pdb
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.pdb
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.dll
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.dll
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.deps.json
UnitTest/bin/Release/netcoreapp2.2/UnitTest.dll
UnitTest/bin/Release/netcoreapp2.2/UnitTest.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.runtimeconfig.dev.json
UnitTest/obj/project.assets.json
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.pdb
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.dll
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.dll
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.deps.json
UnitTest/bin/Release/netcoreapp2.2/UnitTest.dll
UnitTest/bin/Release/netcoreapp2.2/UnitTest.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.runtimeconfig.dev.json
UnitTest/obj/project.assets.json
UnitTest/obj/Release/netcoreapp2.2/UnitTest.assets.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.pdb
UnitTest/obj/Release/netcoreapp2.2/UnitTest.dll
UnitTest/obj/Release/netcoreapp2.2/UnitTest.csprojAssemblyReference.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.csproj.FileListAbsolute.txt
UnitTest/obj/Release/netcoreapp2.2/UnitTest.assets.cache
UnitTest/obj/project.assets.json
UnitTest/bin/Release/netcoreapp2.2/UnitTest.runtimeconfig.dev.json
UnitTest/bin/Release/netcoreapp2.2/UnitTest.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.dll
UnitTest/bin/Release/netcoreapp2.2/UnitTest.deps.json
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
.vs/Demo.Core.Api/v15/.suo
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
.vs/Demo.Core.Api/v15/.suo
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
Demo.Core.Api.Core/obj/Demo.Core.Api.Core.csproj.nuget.g.props
Demo.Core.Api.Core/obj/project.assets.json
Demo.Core.Api.Data/obj/Demo.Core.Api.Data.csproj.nuget.g.props
Demo.Core.Api.Data/obj/project.assets.json
Demo.Core.Api.Model/obj/Demo.Core.Api.Model.csproj.nuget.g.props
Demo.Core.Api.Model/obj/project.assets.json
Demo.Core.Api.WebApi/appsettings.json
Demo.Core.Api.WebApi/obj/Demo.Core.Api.WebApi.csproj.nuget.g.props
Demo.Core.Api.WebApi/obj/project.assets.json
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2/Demo.Core.Api.WebApi.csproj.FileListAbsolute.txt
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csproj.FileListAbsolute.txt
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csprojAssemblyReference.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.dll
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.pdb
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.RazorAssemblyInfo.cs
Demo.Core.Console/obj/Demo.Core.ConsoleDemo.csproj.nuget.g.props
Demo.Core.Console/obj/project.assets.json
Demo.Core.Console/obj/Debug/netcoreapp2.2/Demo.Core.ConsoleDemo.assets.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.assets.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csproj.FileListAbsolute.txt
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csprojAssemblyReference.cache
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.dll
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.pdb
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.dll
UnitTest/bin/Release/netcoreapp2.2/Demo.Core.Api.Data.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.deps.json
UnitTest/bin/Release/netcoreapp2.2/UnitTest.dll
UnitTest/bin/Release/netcoreapp2.2/UnitTest.pdb
UnitTest/bin/Release/netcoreapp2.2/UnitTest.runtimeconfig.dev.json
UnitTest/obj/project.assets.json
UnitTest/obj/Release/netcoreapp2.2/UnitTest.assets.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.csproj.FileListAbsolute.txt
UnitTest/obj/Release/netcoreapp2.2/UnitTest.csprojAssemblyReference.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.dll
UnitTest/obj/Release/netcoreapp2.2/UnitTest.pdb
Demo.Core.Api.WebApi/obj/project.assets.json
Demo.Core.Api.Core/obj/Demo.Core.Api.Core.csproj.nuget.g.props
.gitignore
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
Demo.Core.Console/obj/Release/netcoreapp2.2/Demo.Core.ConsoleDemo.csprojAssemblyReference.cache
UnitTest/obj/Release/netcoreapp2.2/UnitTest.assets.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.csprojAssemblyReference.cache
Demo.Core.Api.WebApi/obj/Release/netcoreapp2.2/Demo.Core.Api.WebApi.assets.cache
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
.vs/Demo.Core.Api/v15/Server/sqlite3/storage.ide
UnitTest/obj/project.assets.json
.vs/Demo.Core.Api/DesignTimeBuild/.dtbcache
Demo.Core.Api.Repository/BaseRepository.cs
