.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
/.vs/Demo.Core.Api
/Demo.Core.Api.WebApi/bin
/Demo.Core.Api.WebApi/obj
/Demo.Core.Api.WebApi/Properties
/Demo.Core.Api.Data/bin
/Demo.Core.Api.Data/obj
/Demo.Core.Api.Core/bin
/Demo.Core.Api.Core/obj
/Demo.Core.Api.Model/bin
/Demo.Core.Api.Model/obj
/Demo.Core.Api.Console/bin
/UnitTest/bin
/UnitTest/obj
/Demo.Core.Console/obj
/Demo.Core.Api.IRepository/bin/Debug/netcoreapp2.2
/Demo.Core.Api.IRepository/bin/Debug/netcoreapp3.0
/Demo.Core.Api.IRepository/obj
/Demo.Core.Api.IService/bin/Debug
/Demo.Core.Api.IService/obj
/Demo.Core.Api.Core/bin/Debug/netstandard2.0
/Demo.Core.Api.Core/obj/Debug/netstandard2.0
/Demo.Core.Api.Core/web
/Demo.Core.Api.Data/bin/Debug/netstandard2.0
/Demo.Core.Api.Data/obj/Debug/netstandard2.0
/Demo.Core.Api.Data/web
/Demo.Core.Api.Model/bin/Debug/netstandard2.0
/Demo.Core.Api.Model/obj/Debug/netstandard2.0
/Demo.Core.Api.Repository/bin/Debug
/Demo.Core.Api.Repository/obj
/Demo.Core.Api.Service/bin/Debug
/Demo.Core.Api.Service/obj
/Demo.Core.Api.WebApi/bin/Debug/netcoreapp2.2
/Demo.Core.Api.WebApi/obj/Debug/netcoreapp2.2
/Demo.Core.Api.Console/bin/Debug/netcoreapp2.2
/Demo.Core.Api.Console/obj/Debug/netcoreapp2.2
/Demo.Core.Api.Console/web
/UnitTest/bin/Debug/netcoreapp2.2
/UnitTest/obj/Debug/netcoreapp2.2
/UnitTest/web

Demo.Core.Console/bin/
