.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
/.vs/Demo.Core.Api
/Demo.Core.Api.WebApi/bin/Debug
/Demo.Core.Api.WebApi/obj/Debug
/Demo.Core.Api.WebApi/Properties
/Demo.Core.Api.Data/bin/Debug
/Demo.Core.Api.Data/obj/Debug
/Demo.Core.Api.Core/bin/Debug
/Demo.Core.Api.Core/obj/Debug
/Demo.Core.Api.Model/bin/Debug
/Demo.Core.Api.Model/obj/Debug
/Demo.Core.Api.Console/bin/Debug
/UnitTest/bin
/UnitTest/obj
/Demo.Core.Console/obj/Debug
